@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: default; /* Cambia el cursor a una flecha */
}

/* Caja de distancias flotante */
.distance-box {
  position: absolute;
  top: 220px;
  right: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: #333;
  z-index: 10;
}

.distance-box h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

.distance-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.distance-box li {
  padding: 2px 0;
  border-bottom: 1px solid #ddd;
}

.distance-box li:last-child {
  border-bottom: none;
}

/* Caja flotante para el input de coordenadas */
.coord-input-box {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-size: 14px;
}

.coord-input-box input {
  width: 50px;
  margin: 2px 1px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.coord-input-box button {
  background: #007aff;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.coord-input-box button:hover {
  background: #005bbb;
}

/* Botón flotante de GPS y footer-label */
.gps-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #007aff;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.gps-button:hover {
  background: #005bbb;
}

.maplibregl-marker {
  width: 8px;
  height: 8px;
  border: 2px solid #131111;
  background-color: #00ff15;
  border-radius: 100%;
}

/* Estilo para el popup */
.popup-content {
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.popup-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 2px;
}

.popup-item {
  padding: 1px 0;
  border-bottom: 1px solid #ddd;
}

.popup-item:last-child {
  border-bottom: none;
}

.footer-label {
  position: fixed; /* Cambiado a fixed para mantenerlo en la parte inferior */
  bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  right: 10px; /* Lo coloca en la esquina inferior derecha */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 16px; /* Tamaño más pequeño */
  border-radius: 5px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  font-size: 12px; /* Tamaño de fuente más pequeño */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Media queries para móviles */
@media (max-width: 768px) {
  /* Caja de distancias: Mover abajo y centrar */
  .distance-box {
    top: auto;
    bottom: 100px; /* Ajusta según sea necesario */
    left: 15px;
    right: 15px;
    font-size: 11px;
  }

  /* Caja de coordenadas: Mover arriba y centrar */
  .coord-input-box {
    top: 10px;
    left: 15px;
    right: 15px;
    font-size: 11px;
  }

  .coord-input-box input {
    width: 40px;
    font-size: 10px;
    padding: 1px;
  }

  .coord-input-box button {
    font-size: 12px;
    padding: 4px 10px;
  }

  .gps-button {
    font-size: 12px;
    padding: 8px 25px;
    bottom: 5px; /* Ajusta la posición en móviles */
  }

  .footer-label {
    bottom: 5px; /* Ajusta la posición en móviles */
    right: 5px; /* Ajusta la posición en móviles */
    padding: 3px 10px; /* Tamaño más pequeño en móviles */
    font-size: 8px; /* Tamaño de fuente más pequeño en móviles */
  }

  /* Estilo para el popup en móviles */
  .popup-content {
    width: 200px; /* Ancho fijo para el popup */
    font-size: 12px; /* Tamaño de fuente más pequeño */
  }

  .popup-title {
    font-size: 14px; /* Tamaño de fuente más pequeño para el título */
  }

  .popup-item {
    padding: 1px 0; /* Reducir el espaciado interno */
  }
}
